*{
	box-sizing: border-box;
}

body{
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

h1{
	text-align: center;
	font-weight: bold;
	font-style: italic;
	margin: 30px 10px 30px 10px;
}

section{
	position: relative;
	background-color: #aaaacc;
	border: 1px solid black;
	padding: 5px;
	margin-left: 0.65%;
	margin-right: 0.65%;
	margin-bottom: 15px;
}

#t1{
	position: absolute;
	float: right;
	top: 0px;
	right: 0px;
	background-color: #aaffaa;
	border: 1px solid black;
	padding: 7px;
	text-align: center;
	margin: 0;
}

#t2{
	background-color: #ffaaff;
	border: 1px solid black;
	/*width: 20%;*/
	padding: 7px;
	text-align: center;
	position: absolute;
	float: right;
	margin: 0;
	top: 0px;
	right: 0px;
}

#t3{
	position: absolute;
	float: right;
	margin: 0;
	background-color: #ffaaaa;
	border: 1px solid black;
	/*width: 20%;*/
	padding: 7px;
	text-align: center;
	top: 0px;
	right: 0px;
}

p{

	clear: right;
	padding: 7px;
	padding-top: 30px;
}

/*-----For Larger Devices-----*/
@media (min-width: 992px){
	.col-lg-4{
		width: 31.5%;
		float: left; 
	}
}

/*-----For Medium Screen Devices-----*/
@media (min-width: 768px) and (max-width: 991px){
	.col-md-6{
		width: 48%;
		float: left; 	
	}
	.col-md-12{
		width: 97.3%;
		float: left; 	
	}
}

/*----For Mobiles-----*/
@media (max-width: 767px){
	.col-sm-12{
		width: 95%
		margin-left: 2%;
		margin-right: 2%;
		float: left;
	}
}